.card {
  background-color: var(--card-bg);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  transition: box-shadow 0.2s ease;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  box-shadow: var(--card-shadow-hover);
}

